@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div> 
        <h1>Uploaded Images</h1>

        <img src="~/Content/Images/Editor/Uploads/d358085b-978d-4982-b91b-a33221bd9374-20180322_141632.jpg" />
        <img src="@Url.Content("~/Content/Images/Editor/Uploads/d358085b-978d-4982-b91b-a33221bd9374-20180322_141632.jpg")" />

    </div>
</body>
</html>
