@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <script type='text/javascript'>
        alert('@Url.Content("http://localhost:51336/Content/Images/Editor/Uploads/" + @ViewBag.FileName)');
    </script>
    Image Uploaded.
</body>
</html>
